{% extends "base.html" %} 

{% load shop_filters %}

{% load static %}

{% block content %}

  {% if cart %}

    <div class="row mt-3">
      <div class="col">
        <h3>Shop Cart</h3>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <th class="d-none d-lg-block">Image</th>
              <th>Product</th>
              <th>Variation</th>
              <th>Amount</th>
              <th>Total</th>
            </tr>
            
            {% for item in cart.values %}
              <tr>
                <td class="d-none d-lg-block">
                  <img
                    class="cart-img"
                    src="{% get_media_prefix %}{{ item.image }}"
                  />
                </td>
                <td>
                  <a href="{% url 'product:detail' item.slug %}">
                    {{ item.product_name }}
                  </a>
                  <a class="ml-3" href="{% url 'product:removefromcart' %}?vid={{ item.variation_id }}">
                    <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
                  </a>
                </td>
                <td>{{ item.variation_name }}</td>
                <td>
                  {{ item.amount }}x
                  
                  {% if item.promo_unit_price %}
                    {{ item.promo_unit_price | format_price }}
                  {% else %}
                    {{ item.unit_price | format_price }}
                  {% endif %}
                    
                </td>
                
                {% if item.amount_promo_price %}
                  <td>{{ item.amount_promo_price | format_price }}</td>
                {% else %}
                  <td>{{ item.amount_price | format_price }}</td>
                {% endif %}
                   
              </tr>
            {% endfor %}
              

          </table>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg">
        <p class="lead">Cart Total</p>

        <div class="table-responsive">
          <table class="table">
            <tr>
              <td class="font-weight-bold">Total</td>
              <td>{{ cart | cart_total_price | format_price }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-lg mt-auto">
        <a class="btn btn-lg btn-block btn-primary" href="#">
          Proceed
        </a>
      </div>
    </div>

  {% else %}

    <div class="row mt-3">
      <div class="col">
        <h3>Empty Cart</h3>
        <p class="lead">There are no items in your cart.</p>
      </div>
    </div>

  {% endif %}

{% endblock content %}
